* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-around;
    background: #1e162eff;
    align-items: center;
    position: fixed;
    width: 100%;
}


nav {
    font-weight: 500;
    font-size: 16px;
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 15px;
    height: 4px;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
    color: white;
}

nav ul li {
    list-style: none;

}

.n {
    color: gray;
}

.d {
    background: linear-gradient(60deg, rgb(101, 48, 185), rgb(7, 91, 175));
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 16px 32px;
}

.a1 {
    background-color: rgb(20, 14, 41);
    justify-content: space-between;
    display: flex;
    height: 100vh;
    color: white;
    align-items: center;
}

h1 {
    font-size: 85px;
    display: flex;
    justify-content: center;
}

h4 {
    font-size: 23px;
    margin: 0 0 0 31%;
    display: flex;
    justify-content: center; 
    height: 40%;
}

.b {
    background-color: rgba(44, 44, 44, 0.418);
    width: 100%;
    height: 100%;
}

.phone {
    margin-left: 110px;
    margin-top: 20%;
    height: 75%;
}

.a1 aside {
    height: 100%;
    width: 55%;
    background-image: url(../ASSETS/IMAGES/hojasFondo.jpg);
    background-position: center;
    background-size: cover;
}

.boton {
    margin: 0 21% 0 31%;
    border: 2px solid #544d70;
    padding: 6px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
}

.t {
    background: transparent;
    border: 2px solid white;
    border-radius: 0.4rem;
    color: white;
    padding: 1rem 1.4rem;
    font-size: 20px;
}

.o {
    background-color: white;
    border: none;
    border-radius: 0.4rem;
    width: 500px;
}

.k {
    background: linear-gradient(to right, #ed66ac, #f51689);
    font-size: 20px;
    font-weight: 600;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.a2 {
    background-color: #f2f3f7;
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    color: #f51488;
    align-items: center;
    font-size: 18px;
}

.h {
    width: 30%;
    margin-top: 75px;
    width: 60%;
}

h2 {
    color: #c2538c;
    font-size: 48px;
}

.p1 {
    color: #7c7c7d;
    width: 80%;
}

.font2 {
    font-size: 60px;
    margin-left: 0%;
    color: #f51488;
    margin-top: 45px;
}

.laptop {
    margin-left: 27%;
    width: 50%;
    margin-top: 80px;
}

.v2 {
    display: flex;
}

.chu {
    width: 4%;
    border-radius: 100%;
}

.a3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 50px;
    background-color: #1e162e;
}

.pl {
    margin-top: 50px;
    color: white;
    font-size: 75px;
}

.p3 {
    color: #fff;
    width: 60%;
    font-size: 17px;
}

.container {
    width: 100%;
    display: flex;
    gap: 35px;
    justify-content: center;
}

.i {
    display: flex;
    background-color: white;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    width: 22%;
    border-radius: 6px;
    color: #1e162e;
}

.te {
    color: #f51488;
}

h5 {
    font-size: 20px;
}

p {
    font-size: 18px;
    width: 80%;
}

.p2 {
    font-size: 18px;
    width: 80%;
}

.p {
    display: flex;
    font-size: 18px;

    span:first-child {
        font-size: 45px;
    }
}



.wall-eyeva{
    height: 10%;
    width: 10%;
    position: relative;
    bottom: 235px;
    left: 40px;
}

.Wall-E3{
    height: 70%;
    width: 10%;
    position: relative;
    bottom: 235px;
    left: 670px;
}

.wal{
    height: 100%;
    width: 10%;
    position: relative;
    bottom: 40px;
    left: 230px;
}

ul {
    list-style: none;
    font-size: 18px;
}

.m {
    color: #757578;
}

.r {
    color: #f51687;
}

.est{
    width: 5%;
    height: 5%;
}

.button {
    color: white;
    font-size: 16px;
    border: none;
    background-color: #2e244fff;
    border-radius: 5px;
    width: 150px;
    height: 50px;
}

.br {
    background: linear-gradient(to right, #ed66ac, #f51689);
    border-radius: 6px;
    font-size: 16px;
    color: white;
    border: none;
    height: 50px;
    width: 150px;
}

footer {
    display: flex;
    color: #2e244fff;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 26px;
    background-color: white;
    height: 100px;
}

.y {
    font-size: 18px;
    margin: 100px 100px;
}

.y span {
    color: #f51488;
}

.s {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.z {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 52px;
    width: 40%;
}


@media screen and (min-width:352px) and (max-width:480px) {

    .a1 {
        height: 70vh;
    }
    .a1 aside {
        background-image: none;
    }

    header {
        height: 140px;
        display: flex;
        flex-direction: column;
        padding: 12px;
        position: fixed; 
    }

    header img {
        width: 35%;
        clip-path: inset(5% 5% 10% 0%);
    }

    nav ul {
        font-size: 15px;
        gap: 10px;
    }

    nav {
        padding: 0px;
    }

    ul {
        font-size: 12px;
    }

    .d {
        font-size: 15px;
        padding: 9px 4px;
        margin-right: 8px;
    }

    .b{
        display: none;
    }

    h1 {
        display: flex;
        justify-content: center;
        font-size: 70px;
    }

    h4 {
        font-size: 15px;
        margin: 0 40px;
    }

    .button {
        margin: 10px 35px;
    }

    .k {
        font-size: 15px;
    }

    .t {
        font-size: 15px;
    }

    .font2 {
        font-size: 38px;
        margin-top: 30px;
    }

    .v2 {
        display: contents;
    }

    h2 {
        width: 100%;
        font-size: 38px;
        display: flex;
        justify-content: center;
    }

    .p1 {
        font-size: 16px;
        margin: 0 10%;
    }

    .wall-eyeva{
        display: none;
    }
    
    .Wall-E3{
        display: none;
    }
    
    .wal{
        display: none;
    }

    .p2 {
        font-size: 16px;
        margin: 0 10%;
    }

    .a2 {
        width: 100%;
    }

    .h {
        width: 100%;
    }

    .pl{
        font-size: 40px;
    }

    .p3 {
        font-size: 15px;
        width: 80%;
    }

    .a3 {
        gap: 30px;
    }

    .container {
        display: contents;
    }

    .i {
        width: 90%;
    }

    .r {
        font-size: 15px;
    }

    .t {
        font-size: 15px;
    }

    .m {
        font-size: 15px;
    }

    .y {
        font-size: 12px;
        margin-left: 10px;
    }

    .s {
        margin-right: 10px;
    }

    .c1 {
        width: 100%;
    }

    .z {
        display: none;
    }
}

@media screen and (min-width:481px) and (max-width:768px) {

    .c1 {
        width: 100%;
    }

    .a1 aside {
        display: none;
    }

    header {
        height: 50px;
        position: fixed; 
    }

    header img {
        margin-left: 15px;
        height: 32px;
        clip-path: inset(5% 5% 10% 0%);
    }

    nav ul {
        padding: 15px;
        gap: 15px;
    }

    ul {
        font-size: 14px;
    }

    .primer {
        font-size: 14px;
        padding: 10px 15px;
    }

    h1 {
        font-size: 70px;
    }

    h4 {
        font-size: 15px;
        margin: 0 14% 0 22%;
    }

    .button{
        margin: 0 14% 0 22%;
    }

    .k{
        font-size: 15px;
    }

    .t {
        font-size: 15px;
        padding: 0.4rem 1.rem;
    }

    .phone {
        display: none;
    }

    .b{
        display: none;
    }

    .p1 {
        padding: 0 10%;
    }

    .t {
        align-items: center;
        font-size: 15px;
    }

    .font2 {
        font-size: 45px;
        display: flex;
        justify-content: center;
    }

    .v2 {
        display: block;
    }

    .laptop {
        margin-top: 20px;
    }

    .h {
        width: 100%;
    }

    .p2 {
        padding: 0 10%;
    }

    h2 {
        text-align: center;
    }

    .pl {
        font-size: 48px;
    }

    .p3 {
        width: 90%;
        font-size: 15px;
    }

    .container {
        display: contents;
    }

    .i {
        width: 80%;
        text-align: center;
    }

    .r {
        font-size: 15px;
    }

    .m {
        font-size: 15px;
    }

    .y {
        font-size: 15px;
        margin-left: 5px;
        width: 50%;
    }

    .s {
        margin-right: 5px;
    }
    .wall-eyeva{
        height: 20%;
        width: 25%;
        position: relative;
        bottom: 190px;
        left: 10px;
    }
    
    .Wall-E3{
        height: 80%;
        width: 15%;
        position: relative;
        bottom: 170px;
        left: 190px;
    }
    
    .wal{
        height: 100%;
        width: 20%;
        position: relative;
        bottom: 50px;
        left: 285px;
    }
}

@media screen and (min-width:769px) and (max-width:920px) {

    .c1 {
        width: 55%;
    }

    h1 {
        font-size: 65px;
    }

    h4 {
        font-size: 15px;
        margin: 0 0 0 21%;
    }

    .button {
        margin: 0 14% 0 20%;
    }

    .k {
        font-size: 16px;
    }

    .t {
        font-size: 16px;
    }

    .phone {
        margin-left: 30px;
    }

    .h {
        width: 106%;
    }

    .p3 {
        width: 70%;
    }

    .i {
        width: 28%;
        gap: 12px;
    }

    .copy {
        margin: 10px 60px;
    }

    .copy {
        font-size: 15px;
        margin: 10px 80px;
    }
    .wall-eyeva{
        height: 10%;
        width: 20%;
        position: relative;
        bottom: 245px;
        left: 10px;
    }
    
    .Wall-E3{
        height: 70%;
        width: 10%;
        position: relative;
        bottom: 185px;
        left: 360px;
    }
    
    .wal{
        height: 100%;
        width: 10%;
        position: relative;
        bottom: 40px;
        left: 20px;
    }
}

@media screen and (min-width:921px) and (max-width:1279px) {
    
    .a1 {
        height: 110vh;
    }
    .c1 {
        width: 55%;
    }

    h4 {
        font-size: 18px;
        margin: 0 0 0 22%;
    }

    .phone {
        margin-left: 50px;
        margin-top: 10%;
    }
    
    .button{
        margin: 0 10% 0 22%;
    }

    .i {
        width: 29%;
        gap: 10px;
    }

    .wall-eyeva{
        height: 10%;
        width: 10%;
        position: relative;
        bottom: 225px;
        left: 10px;
    }
    
    .Wall-E3{
        height: 70%;
        width: 10%;
        position: relative;
        bottom: 225px;
        left: 570px;
    }
    
    .wal{
        height: 110%;
        width: 10%;
        position: relative;
        bottom: 40px;
        left: 20px;
    }
}